.second-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.plan-heading {
    color: #04285a;
    font-size: 23px;
    font-style: inherit;
    font-weight: 700;
    letter-spacing: 2px;
}

.plan-info {
    color: #AFAFAF;
    font-size: 13px;
    font-weight: 400;
}

.plan-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    /* height: 100vh; */
    position: relative;
    top: 100px;

}

.box {
    width: 121px;
    height: 140px;
    margin: 10px;
    transition: background-color 0.1s ease-in-out;
    border-color: #412273;
    border: solid 2px;
    border-radius: 5px;
}

.inactive {
    background-color: #FFF;
}

.active {
    background-color: #DADADA;
}

.plan-name {
    font-size: 14px;
    font-weight: 500;
    color: #001126;
    position: relative;
    margin: 30px 0px 0px 0px
}

.plan-price {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.25rem;
    color: #929292;
    position: relative;
    margin: 0px 0px 0px 0px
}

.icon-logo {
    height: 39px;
    width: 39px;
    font-size: 24px;
    margin: 20px 0px 0px 10px;
    /* margin-top: 20px;
    margin-left: 10px; */
    text-align: center;
    border-radius: 50px;
    border: none;
    background-size: 90% ;
    background-position: center; /* center the image within the button */
    background-blend-mode: darken;
    background-color: #A1572C;
    position: relative;
}
.icon-logo2 {
    height: 39px;
    width: 39px;
    font-size: 24px;
    margin: 20px 0px 0px 10px;
    /* margin-top: 20px;
    margin-left: 10px; */
    text-align: center;
    border-radius: 50px;
    border: none;
    background-size: 90% ;
    background-position: center; /* center the image within the button */
    background-blend-mode: darken;
    background-color: #8D3C41;
    position: relative;
}
.icon-logo3 {
    height: 39px;
    width: 39px;
    font-size: 24px;
    margin: 20px 0px 0px 10px;
    /* margin-top: 20px;
    margin-left: 10px; */
    text-align: center;
    border-radius: 50px;
    border: none;
    background-size: 90% ;
    background-position: center; /* center the image within the button */
    background-blend-mode: darken;
    background-color: #1F1D7F;
    position: relative;
}

.logo-bg {
    background-color: #A1572C;
}

.submit-button-container-2 {
    margin-top: 100px;
}

.previous-step-button {
    background-color: #fff;
    border: 0 solid #001127;
    color: #676767
}

.next-step-button {
    background-color: #001127;
    border: 2px solid #001127;
    color: #fff;
    margin-left: 15px
}