.App {
    background-color: #b7c3d7;
    height: 100vh;
    padding: 80px;
    position: fixed;
    width: 100%;
}

.approuter-container {
    background-color: #fff;
    border-radius: 15px;
    width: 1280px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px 5px rgb(155, 153, 153);
}

.right-container {
    padding: 40px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    color: unset;
    background-color: unset;
    border-color: unset;
}

h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 2.2rem;
}

.btn {
    letter-spacing: 1px;
}

.sidebar-container {
    padding: 20px;
}

.sidebar {
    background-color: #483eff;
    border-radius: 7px;
    width: 245px;
    height: 560px;
    padding-top: 40px;
    /* background-image: url("../public/images/bg-sidebar-desktop.svg"); */
}

.steps {
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    margin-top: 2rem;
    flex-direction: column;
}

.step {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    width: 35px;
    height: 35px;
    float: right;
    font-size: 15px;
    font-style: inherit;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.step-active {
    background-color: #bce0f6;
    color: #072a4a;
}

.step-seq {
    color: #d1d3de;
    font-family: inherit;
    font-size: 11px;
}

.step-name {
    color: #fff;
    float: left;
    font-family: inherit;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}


.your-info {
    color: #04285a;
    font-size: 23px;
    font-style: inherit;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.information-input {
    margin-top: 0px;
    margin-bottom: 5px;
}

.information-heading {
    color: #04285a;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
}

.input-form {
    width: 60%;
    /* margin: 3rem auto; */
}

.errorMsg {
    max-width: 350px;
    color: #f21e08;
    padding: 2px 0;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
}

.login-error {
    font-size: 1.1rem;
}

.successMsg {
    color: lightblue;
}

.loading {
    color: #777;
}

.form-control.input-error {
    border: 2px solid #f21e08;
}

.user-details {
    color: lightblue;
    padding: 5px 0;
    margin-bottom: 1rem;
}

.submit-button-container-1 {
    margin-top: 100px;
}

.submit-button-container-3 {
    margin-top: 100px;
}

.next-step-button {
    background-color: #001127;
    border: 2px solid #001127;
    color: #fff;
    margin-left: 15px;
}

.third-page-heading {
    color: #04285A;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
}

.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    flex-direction: column;
}
.bill-items {
    display: flex;
    flex-direction: row;
}

.bill-particulars {
    font-weight: 500;
    font-size: 17px;
    color: #04285A;
    letter-spacing: 1px;
    margin-top: 10px;
    width: 500px;
}

.bill-particulars-value {
    font-weight: 400;
    font-size: 15px;
    color: #04285A;
    letter-spacing: 1px;
    margin-left: 0;
    margin-top: 10px;

}
